# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Exclude ALL recovered-assets by default
/public/recovered-assets/*

# Re-include ONLY the assets actually used by the site
!/public/recovered-assets/home05-image-suc1.png
!/public/recovered-assets/local-6sense.webp
!/public/recovered-assets/local-broadsoft.webp
!/public/recovered-assets/local-chili.webp
!/public/recovered-assets/local-cisco.webp
!/public/recovered-assets/local-easy.webp
!/public/recovered-assets/local-huo.webp
!/public/recovered-assets/local-microsoft.webp
!/public/recovered-assets/local-nearbycomputing.webp
!/public/recovered-assets/local-zoom.webp
!/public/recovered-assets/wp-content-uploads-2024-08-img-sg-post5-832x630-webp.webp
!/public/recovered-assets/wp-content-uploads-2024-08-img-sg-post7-832x630-webp.webp
!/public/recovered-assets/wp-content-uploads-2024-08-img-sg-post8-832x630-webp.webp

# Exclude default Next.js placeholder assets
/public/vercel.svg
/public/window.svg
/public/next.svg
